/* media for big screen */

@charset "utf-8";
body {
  background: url(../img/bg.jpg);
}


/* .container */

.container {
  width: 820px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}


/* #title */

.contact {
  display: inline-block;
  width: 420px;
  vertical-align: middle;
  padding-left: 60px;
}

.contact h1 {
  font-size: 46px;
  padding-bottom: 10px;
}

.contact li {
  font-size: 18px;
  padding-left: 20px;
  line-height: 20px;
}

.avater-1 {
  display: none;
}

.avater-2 {
  display: inline-block;
  text-align: center;
  width: 300px;
  vertical-align: middle;
}

.avater img {
  width: 170px;
}


/* #mainbody */

#mainbody {
  padding: 30px 70px;
  margin-top: 10px;
}

#mainbody section .detail {
  margin-left: 30px;
}