/* media for big screen */

@charset "utf-8";
@media screen and (min-width:992px) {
  /* container */
  .container {
    width: 990px;
    margin: 0 auto;
  }
  /* page-title */
  .page-title {
    margin-top: 10px;
    position: relative;
  }
  .page-title h1 {
    font-size: 7.2rem;
    font-weight: bold;
    vertical-align: middle;
    display: inline-block;
    writing-mode: vertical-lr;
    padding:1.5rem 3rem;
  }
  .page-title ul {
    padding-top: 0.5rem;
    display: inline-block;
    vertical-align: middle;
    font-size: 2rem;
    line-height: 2.6rem;
  }
  .page-title .photo {
    width: 16rem;
    position: absolute;
    top: 1.9rem;
    right: 3rem;
  }
}