@media(min-width:1200px) {
  .container {
    padding-top: 10px;
    width: 1000px;
  }
}

@media(max-width:767px) {
  .container {
    width: 100%;
  }
}

.container .show {
  height: 160px;
  background-color: rgb(51, 51, 51);
  color: white;
}

.container .show .left {
  padding-left: 50px;
}

.show .left h1 {
  padding-top: 20px;
}

.show .left a:link {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.show .left a:visited {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.show .left a:hover {
  text-decoration: none;
  color: rgb(124, 201, 209);
}

.show .info {
  font-family: Consolas;
  font-size: 16px;
}

.explain {
  background-color: white;
}

.explain h2 {
  padding-top: 20px;
}

.explain .title {
  text-align: right;
}