/* media for common */

@charset "utf-8";

/* preset */

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "微软雅黑";
  /* 10 ÷ 16 × 100% = 62.5% */
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

a:link,
a:visited {
  text-decoration: none;
  color: #fff;
}

a:hover {
  text-decoration: none;
  color: #E84545;
}

ul,
ol,
li {
  list-style: none;
}


/* #title */

#title {
  background-color: #303841;
  color: #fff;
  padding: 20px 0;
}

.avater img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border: 3px solid #fff;
}


/* #mainbody */

#mainbody {
  background-color: #fff;
}

#mainbody .content {
  border-left: 3px solid #eee;
  font-size: 1.4rem;
  line-height: 1.8rem;
}

#mainbody section {
  position: relative;
  padding: 20px 0;
}

#mainbody section h2 {
  font-size: 1.8rem;
  padding-bottom: 20px;
  padding-left: 30px;
}

#mainbody section .en {
  color: #aaa;
}

#mainbody section .detail {
  color: #555;
  background-color: #fbfbfb;
  border: 1px solid #f3f3f3;
  padding: 15px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}

#mainbody section i {
  position: absolute;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  color: #aaa;
  background-color: #fff;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 32px;
  left: -22px;
  top: 10px;
}