/* media for middle screen */

@charset "utf-8";
@media screen and (min-width:768px) and (max-width:991px) {
  /* container */
  .container {
    width: 768px;
    margin: 0 auto;
  }
  /* page-title */
  .page-title {
    margin-top: 10px;
    position: relative;
  }
  .page-title h1 {
    font-size: 4rem;
  }
  .page-title ul {
    padding-left: 2rem;
    font-size: 1.8rem;
    line-height: 2rem;
  }
  .page-title .photo {
    width: 14rem;
    position: absolute;
    top: 2.4rem;
    right: 3rem;
  }
}