/* media for small screen */

@charset "utf-8";

/* .container */

.container {
  width: 100%;
  margin: 0 auto;
}


/* #title */

#title {
  text-align: center;
}

.contact h1 {
  font-size: 35px;
  padding: 20px 0;
}

.contact li {
  text-align: left;
  font-size: 14px;
  line-height: 18px;
  padding-left: 20px;
}

.avater-2 {
  display: none;
}

.avater img {
  width: 150px;
}


/* #mainbody */

#mainbody {
  padding: 20px 16px 20px 24px;
}

#mainbody section .detail {
  margin-left: 15px;
}