/* reset & global */

@charset "utf-8";

/* reset */

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "微软雅黑";
  /* 10 ÷ 16 × 100% = 62.5% */
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.clear {
  clear: both;
}

.blank10 {
  height: 10px;
  clear: both;
}


/* global */

body {
  background-color: #F4F4F4;
  font-size: 1.4rem;
  word-break: normal;
  word-wrap: break-word;
}


/* fab */


/*.fab {
  box-shadow: 1px 2px 3px #888888;
  background-color: rgb(253, 86, 33);
  position: fixed;
  right: 48px;
  bottom: 48px;
  width: 58px;
  height: 58px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.fab i {
  text-align: center;
  width: 58px;
  line-height: 58px;
  color: #fff;
  font-size: 22px;
}*/


/* page-title */

.page-title {
  color: #fff;
  background-color: #333;
  padding: 1.5rem 2rem;
  box-shadow: 5px 5px 3px #888888;
  margin-bottom: 12px;
}

.page-title h1 {
  padding-bottom: 1.5rem;
}

.page-title ul {
  font-family: "Consolas";
}

.page-title ul a:link,
a:visited {
  color: #fff;
}

.page-title ul a:hover {
  color: #66ccff;
}

.page-title .photo {
  width: 20rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}


/* mainbody */

.mainbody {
  box-shadow: 5px 5px 3px #888888;
  background-color: #fff;
  padding: 30px;
  margin-bottom: 10px;
}

.show {
  font-size: 1.6rem;
  padding-bottom: 20px;
}

.show h1,
h2,
h3 {
  padding: 5px 0;
}

.skill ul {
  padding-left: 3rem;
}

.skill li {
  list-style: disc;
}


