/* reset & global */

@charset "utf-8";

/* reset */

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  /* 10 ÷ 16 × 100% = 62.5% */
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.clear {
  clear: both;
}

.blank5 {
  padding-top: 5px;
}

.blank10 {
  padding-top: 10px;
}


/* global */

body {
  background-color: #F4F4F4;
  font-size: 1.4rem;
}


/* page-title */

.page-title {
  color: #fff;
  background-color: #333;
  padding: 1.5rem 2rem;
  box-shadow: 5px 5px 3px #888888;
}

.page-title h1 {
  padding-bottom: 1.5rem;
}

.page-title ul {
  font-family: "Consolas";
}

.page-title ul a:link,
a:visited {
  color: #fff;
}

.page-title ul a:hover {
  color: #66ccff;
}

.page-title .photo {
  width: 20rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}


/* mainbody */

.mainbody {
  padding: 5px;
  box-shadow: 5px 5px 3px #888888;
}