/* media for big screen */

@charset "utf-8";

/* .container */

.container {
  width: 992px;
  margin: 0 auto;
  margin-top: 10px;
}


/* #title */

.contact {
  display: inline-block;
  width: 650px;
  vertical-align: middle;
  padding-left: 30px;
}

.avater {
  display: inline-block;
  text-align: center;
  width: 300px;
  vertical-align: middle;
}