/* media for common */

@charset "utf-8";

/* preset */

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "微软雅黑";
  /* 10 ÷ 16 × 100% = 62.5% */
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}


/* .container */

.container {
  background-color: #2B2E4A;
  color: #fff;
}