/* media for common */

@charset "utf-8";

/* preset */

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "微软雅黑";
  /* 10 ÷ 16 × 100% = 62.5% */
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

a:link,
a:visited {
  text-decoration: none;
  color: #fff;
}

a:hover {
  text-decoration: none;
  color: #E84545;
}

ul,
ol,
li {
  list-style: none;
}

body {
  background: url(../img/bg.jpg);
}


/* #title */

#title {
  background-color: #303841;
  color: #fff;
  padding: 20px 0;
}

.avater img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border: 3px solid #fff;
}


/* #mainbody */
#mainbody{

  background-color: #fff;
}