/* media for small screen */

@charset "utf-8";

/* .container */

.container {
  width: 100%;
  margin: 0 auto;
}


/* #title */

#title {
  text-align: center;
}

.contact h1 {
  font-size: 3.5rem;
  padding: 20px 0;
}

.contact li {
  text-align: left;
  font-size: 1.4rem;
  line-height: 1.6rem;
  padding-left: 20px;
}

.avater-2 {
  display: none;
}

.avater img {
  width: 150px;
}


/* #mainbody */

.content {
  padding: 20px 10px;
}