/* media for small screen */

@charset "utf-8";

/* .container */

.container {
  width: 100%;
  margin: 0 auto;
  margin-top: 10px;
}


/* #title */

#title {
  text-align: center;
}

.contact li {
  text-align: left;
}

