@import "variables";
@import url('https://fonts.googleapis.com/css?family=Bellefair|Lora');

html {
  body {
    font-size: 1.4rem;
    font-family: 'Inconsolata', 'Microsoft YaHei', 'SimSun', monospace, Serif;
    position: relative;
    background-color: $color-gray-light;
    color: $ink;

    // tags
    body, div, span, section, nav, article, aside, header, footer, address, main,
    p, hr, pre, blockquote, ol, ul, li, dl, dt, dd, figure,
    a, em, strong, small, i, b, u, img, iframe, video, audio, canvas, table, tr, td, th,
    form, label, button, textarea, option, select, progress,
    h1, h2, h3, h4, h5, h6 {
      // remove the blue border in webkit
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

    h1, h2, h3, h4, h5, h6 {
      font-weight: 200;
      font-family: 'Bellefair', serif;
    }

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: $width-max-img;
    }

    hr {
      border: none;
      border-bottom: .2rem solid $color-gray-deep;
    }

    ul {
      margin-top: 0;
      li {
        padding: .1rem 0;
      }
      li:first-child {
        padding-top: 0;
      }
      li:last-child {
        padding-bottom: 0;
      }
    }

    a {
      &:link, &:visited {
        color: #333;
        text-decoration: none;
      }
      &:hover {
        color: $active;
        //text-decoration: underline;
      }
    }

    // customized classes
    @media screen and (max-width: $width-break-point) {
      .container {
        width: 86%;
      }
    }

    .container {
      box-sizing: border-box;
      max-width: $width-max-container;
    }

    .all-center {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    // wing
    .card {
      background-color: #fdfdfd;
      &-header {
        font-weight: 200;
        font-size: 2.8rem;
      }
      &-body {
        min-height: 8.4rem;
      }
      &-footer {
        padding: 1rem;
      }
    }

  }
}


