html {
  font-family: "Segoe UI", sans-serif;
  color: #202020;
}

h1, h2, h3, h4, h5, h6 {
  //font-family: -apple-system, "Segoe UI", BlinkMacSystemFont, Avenir, "Avenir Next", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-family: "Segoe UI", sans-serif;
  font-weight: 200;
}

.container {
  max-width: 800px;
}

a:link, a:visited {
  color: #111;
  text-decoration: none;
}

a:hover {
  color: #104cfb;
}

.card {
  background-color: #fafafa;
}

.no-list-style {
  list-style: none;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}
