@charset "utf-8";

/**
 * public style
 */

html {
  font-size: 62.5%;
}

body {
  color: #222;
  background-color: #f7f7f7;
}

a {
  color: #666;
  text-decoration: none;
}

a:hover, a:active {
  color: #0ae;
  text-decoration: underline;
}


/**
 * preset style
 */


/* float */

.fl {
  float: left !important;
}

.fr {
  float: right !important;
}


/* clearfix */

.cf:before, .cf:after {
  content: "";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}