@charset "utf-8";

/**
 * public style
 */

@font-face {
  font-family: roboto;
  src: url(../font/Roboto-Regular.ttf);
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  font-family: "roboto", sans-serif;
  color: #222;
}

ul {
  padding: 0;
}

ul li {
  list-style: none;
}

a {
  font-size: 2.4rem;
}

a:link, a:visited {
  color: #222;
  text-decoration: none;
}

a:hover {
  /* ! need reset ! */
  color: #6cf;
}


/**
 * preset style
 */


/* float */

.fl {
  float: left !important;
}

.fr {
  float: right !important;
}


/* clearfix */

.cf:before, .cf:after {
  content: "";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}