@charset "utf-8";

/**
 * responsive style
 */

@media only screen and (min-width: 960px) {
  .wrap {
    width: 960px;
  }
}

@media only screen and (max-width: 959px) {
  .wrap {
    width: 100%;
    padding: 0 1.8rem;
  }
}


/**
 * master style
 */

.wrap {
  margin: 0 auto;
  box-sizing: border-box;
}


/* header */


/* end header */


/* .mainbody */


/* end .project */


/* end .mainbody */


/* footer */


/* end footer */


/* other */

.browser-update {
  background-color: #ccc;
  padding: 1rem;
  margin: 0;
}


/* end other */