html {
  font-family: -apple-system, BlinkMacSystemFont, Avenir, "Avenir Next", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #222;
}

a {
  text-decoration: none;
}

.card {
  background-color: #fafafa;
}

.no-list-style {
  list-style: none;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}
